.about-page{
   
    height: 100vh;
    background-image: url(img/backgr.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    margin-top: 10rem;
}
.about-page img{
    background-size: cover;
    height: 500px;
    width: 100%;
}
